body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .container {
    height: 100vh;
    width: 100%;
 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box {
    height: 13rem;
    width: 25rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #color-code {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  #btn button{
    height: 59px;
    width: 245px;
    font-size: 25px;
    outline: none;
    color: white;
    background-color: black;
    border: none;
    border-radius: 23px;
  }